In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
df = pd.read_csv("Churn_Modelling.csv")

In [46]:
df.head()

,CustomerId,Name,HasCrCard,CreditScore,Geography,Gender,Age,Tenure,Balance,PrdtcCnts,ActivedMmbr,EstimatedSalary,Exited
0,15634602,Hargrave,1,619,France,Female,42,2,0.00,1,1,101348.88,1
1,15647311,Hill,0,608,Spain,Female,41,1,83807.86,1,1,112542.58,0
2,15619304,Onio,1,502,France,Female,42,8,159660.80,3,0,113931.57,1
3,15701354,Boni,0,699,France,Female,39,1,0.00,2,0,93826.63,0
4,15737888,Mitchell,1,850,Spain,Female,43,2,125510.82,1,1,79084.10,0

In [47]:
df.isnull().sum()

CustomerId         0
Name               0
HasCrCard          0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
PrdtcCnts          0
ActivedMmbr        0
EstimatedSalary    0
Exited             0
dtype: int64

In [48]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Geography"] = le.fit_transform(df["Geography"])
df["Gender"] = le.fit_transform(df["Gender"])

In [49]:
input_data = df.iloc[:,2:12]

In [50]:
output_data = df.iloc[:,-1]

In [51]:
output_data.head(2)

0    1
1    0
Name: Exited, dtype: int64

In [52]:
from sklearn.preprocessing import StandardScaler

In [53]:
ss = StandardScaler()

In [54]:
ss.fit_transform(input_data)

array([[ 0.64609167, -0.32622142, -0.90188624, ..., -0.91158349,
         0.97024255,  0.02188649],
       [-1.54776799, -0.44003595,  1.51506738, ..., -0.91158349,
         0.97024255,  0.21653375],
       [ 0.64609167, -1.53679418, -0.90188624, ...,  2.52705662,
        -1.03067011,  0.2406869 ],
       ...,
       [-1.54776799,  0.60498839, -0.90188624, ..., -0.91158349,
         0.97024255, -1.00864308],
       [ 0.64609167,  1.25683526,  0.30659057, ...,  0.80773656,
        -1.03067011, -0.12523071],
       [ 0.64609167,  1.46377078, -0.90188624, ..., -0.91158349,
        -1.03067011, -1.07636976]])